[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rajendra (peddadabrp)
[access "refs/for/refs/*"]
	read = group user/rajendra (peddadabrp)
	push = group user/rajendra (peddadabrp)
	label-Code-Review = -2..+2 group user/rajendra (peddadabrp)
	label-Verified = -1..+1 group user/rajendra (peddadabrp)
	rebase = group user/rajendra (peddadabrp)
	removeReviewer = group user/rajendra (peddadabrp)
	submit = group user/rajendra (peddadabrp)
[access "refs/heads/*"]
	read = group user/rajendra (peddadabrp)
	create = group user/rajendra (peddadabrp)
	push = +force group user/rajendra (peddadabrp)
	pushMerge = group user/rajendra (peddadabrp)
[access "refs/tags/*"]
	push = +force group user/rajendra (peddadabrp)
	pushTag = group user/rajendra (peddadabrp)
	pushSignedTag = group user/rajendra (peddadabrp)
